.friends-view {
  padding: 70px 16px 0;
}

.section-title {
  padding: 16px 0 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.friends-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    padding-top: 8px;
    line-height: 1.1;

    &--offline {
      opacity: 0.4;
    }
  }

  &__col {
    padding-left: 8px;
    min-width: 0;
    flex-shrink: 1;
  }

  &__avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
  }

  &__last-message {
    font-size: 12px;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #2d3436;
  }
}
